<!DOCTYPE html>
<html lang="en">
<head>
  <title>VueJs</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="dist/output.css" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <header class="absolute top-0 left-0 z-10 flex w-full items-center bg-transparent">
    <div class="container">
      <div class="relative flex items-center justify-between">
        <div class="px-4">
          <a href="https://leonardo01234.github.io/WEB_PORTOFOLIO/#home" target="_blank" class="block py-6 text-lg font-bold text-primary">Leonardo</a>
        </div>
        <div class="flex items-center px-4">
          <button id="hamburger" name="hamburger" type="button" class="absolute right-4 block lg:hidden">
            <span class="hamburger-line origin-top-left transition duration-300 ease-in-out"></span>
            <span class="hamburger-line transition duration-300 ease-in-out"></span>
            <span class="hamburger-line origin-bottom-left transition duration-300 ease-in-out"></span>
          </button>

          <nav
            id="nav-menu"
            class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg dark:bg-dark dark:shadow-slate-500 lg:static lg:block lg:max-w-full lg:rounded-none lg:bg-transparent lg:shadow-none lg:dark:bg-transparent"
          >
            <ul class="block lg:flex">
              <li class="group">
                <a href="https://leonardo01234.github.io/WEB_PORTOFOLIO/#home" target="_blank" class="mx-8 flex py-2 text-base text-dark group-hover:text-primary dark:text-white">Beranda</a>
              </li>
              <li class="group">
                <a href="https://leonardo01234.github.io/WEB_PORTOFOLIO/#about" target="_blank" class="mx-8 flex py-2 text-base text-dark group-hover:text-primary dark:text-white">Tentang Saya</a>
              </li>
              <li class="group">
                <a href="https://leonardo01234.github.io/WEB_PORTOFOLIO/#Project" target="_blank" class="mx-8 flex py-2 text-base text-dark group-hover:text-primary dark:text-white">Portofolio</a>
              </li>
              <li class="group">
                <a href="https://leonardo01234.github.io/WEB_PORTOFOLIO/#contact" target="_blank" class="mx-8 flex py-2 text-base text-dark group-hover:text-primary dark:text-white">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div id="app">
    <div class="container mx-auto">
      <h1 class="mt-3 text-4xl text-center" style="margin-top: 80px;">To Do List</h1>
      <div class="flex justify-center mt-5">
        <div class="w-3/4">
          <div class="flex">
            <input type="text" class="border border-gray-300 p-2 w-1/6" placeholder="start time" v-model="startTime">
            <input type="text" class="border border-gray-300 p-2 w-1/6" placeholder="end time" v-model="endTime">
            <input type="text" class="border border-gray-300 p-2 w-3/6" placeholder="new activity" v-model="activity" v-on:keydown.enter="addTodo">
            <button class="bg-yellow-500 text-white p-2 w-1/6" @click="addTodo" :disabled="Dilarang">ADD</button>
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-5">
        <div class="w-7/12">
          <div v-for="(item, index) in todoList" class="p-3 border border-gray-500">
            <button class="border border-red-500 text-red-500 p-2 me-2" @click="deleteTodo(index)">Delete</button>
            <button class="bg-blue-500 text-white p-2 ml-2" @click="finishTodo(index)">Done</button>
            <span :class="{ 'line-through text-red-500': item.done }"class="ml-4">{{ item.start }} - {{ item.end }} - {{ item.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          todoList: [],
          startTime: '',
          endTime: '',
          activity: ''
        };
      },
      methods: {
        addTodo() {
          if (this.activity.trim() === '' || this.startTime.trim() === '' || this.endTime.trim() === '') {
            return;
          }

          const newItem = {
            text: this.activity,
            start: this.startTime,
            end: this.endTime,
            done: false
          };
          this.todoList.push(newItem);
          this.clearInputs();
        },
        deleteTodo(index) {
          this.todoList.splice(index, 1);
        },
        finishTodo(index) {
          this.todoList[index].done = true;
        },
        clearInputs() {
          this.startTime = '';
          this.endTime = '';
          this.activity = '';
        }
      },
      computed: {
        Dilarang() {
          return this.activity.trim() === '' || this.startTime.trim() === '' || this.endTime.trim() === '';
        }
      }
    }).mount('#app');
  </script>
  <script src="dist/js/script.js"></script>
</body>
</html>
